.donation--container {
  width: 80%;
  margin: 0px auto;

  .donation-record--container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .donation-record__thead--row,
  .donation-record__tbody--row {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 8px;
  }

  .donation-record__thead--row {
    background-color: #ededed;
  }

  .donation-record__tbody--row {
    min-height: 40px;
    margin-bottom: 8px;
    &:nth-child(2n) {
      background-color: #f4f7fc;
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }

  .donation-record__thead-row--th {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;

    &:nth-child(1) {
      flex: 0 0 15%;
    }
    &:nth-child(2) {
      flex: 0 0 45%;
    }
    &:nth-child(3) {
      flex: 0 0 40%;
    }
  }

  .donation-record__tbody-row--td {
    font-size: 16px;
    line-height: 24px;
    padding-left: 5px;
    padding-right: 5px;

    &:nth-child(1) {
      flex: 0 0 15%;
    }
    &:nth-child(2) {
      flex: 0 0 45%;
    }
    &:nth-child(3) {
      flex: 0 0 40%;
    }
  }
}
