.routes-section--container {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;

  .routes-section__link--nav {
    text-decoration: none;

    &:hover {
      cursor: hand;
    }
  }
  // .routes-section__link {
  //   > a {
  //     text-decoration: none;

  //     &:hover {
  //       cursor: hand;
  //     }
  //   }
  // }
}
