.buychai--container {
  .form__div--container {
    margin: 0 auto;
    border: 1px solid #c7c7c7;
    border-radius: 15px;
    padding: 5px;
    background-color: #fafafa;

    &:hover {
      box-shadow: 0px -2px 5px #EDEDED;
    }

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    min-width: 400px;
    max-width: 450px;

    > form {
      width: 100%;
    }
  }

  .form__field--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: calc(100% - 20px);
    margin: 0px auto 10px;
  }

  .form__field__input--label {
    font-size: 16px;
    line-height: 24px;
    color: #787878;
  }

  .form__field__input {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    height: 32px;
    width: 100%;
    padding: 0 10px;

    &:focus {
      outline: #e5e5e5;
    }
  }

  .form__field__input--error {
    font-size: 12px;
    line-height: 18px;
    color: #ff3300;
    padding-left: 5px;
  }

  .form__field__textarea {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    width: 100%;
    padding: 10px 10px;

    &:focus {
      outline: #e5e5e5;
    }
  }

  .form__field__button--submit {
    height: 40px;
    width: 99%;
    margin: 0px auto;
    border-radius: 25px;

    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
  }
}
